<nav class="navbar bck navbar-expand-md fixed-bottom">
      <a class="brnd" href="">Nurse App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse blck" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <!--li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link blck" href="http://github.com/lchzaboy">Github </a>
          </li-->
          <li class="nav-item" ><a class="nav-link blck" href="http://github.com/lchzaboy">Made with love by lchzaboy</a>
          </li>
        </ul>
      </div>
    </nav>
